body {
  margin: 0;
}

.grid {
  display: grid;
  gap: 10px;
  max-width: 20%;
  grid-template-columns: repeat(4, 1fr);

}

.box {
  background-color: rgb(215, 62, 62);
  color: gold;
  width: 100px;
  height: 150px;
  border-radius: 6px;
}


.box:nth-child(even) {
  margin-top: 1rem;
  background-color: blue;

}


/* animations */

body:has(.box:nth-child(4n):hover) .box:nth-child(4n) {

  animation: verticalScroll .5s infinite linear;


}

body:has(.box:nth-child(4n + 2):hover) .box:nth-child(4n + 2) {

  animation: verticalScroll .5s infinite linear;

}


body:has(.box:nth-child(4n - 1):hover) .box:nth-child(4n -1) {
  animation: RverticalScroll .5s infinite linear;

}


body:has(.box:nth-child(4n - 3):hover) .box:nth-child(4n - 3) {
  animation: RverticalScroll .5s infinite linear;

}

@keyframes verticalScroll {

  to {
    transform: translateY(120%);
  }

}

@keyframes RverticalScroll {

  to {
    transform: translateY(-120%);
  }

}

/* media queries breakpoints */

@media (max-width:500px) {

  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .box:nth-child(3n + 2) {
    background-color: rgb(215, 62, 62);
    margin: 0;
  }

  .box:nth-child(2n) {
    background-color: blue;
    margin: 0;

  }

  @keyframes RverticalScroll{
    to{transform: translateX(none);}    
  }
  @keyframes verticalScroll{
    to{transform: translateX(none);}    
  }

}